.containerCard {
    max-width: 700px;
    margin: auto;
    padding: 20px;    
}

.carder {
    padding: 10px;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(84,84,84,0.21);
-moz-box-shadow: 0px 0px 10px 10px rgba(84,84,84,0.21);
box-shadow: 0px 0px 10px 10px rgba(84,84,84,0.21);  
    border-radius: 10px;
}

.imageCard {
    max-height: 250px;
    padding: 10px;
}

.textCard {
    padding: 10px;
}